
    .hidden {
        display: none;
    }
    .knopka{
        padding: 5px;
        background-color: darkblue;
        color:white
    }
    .form{
        margin: auto; 
        width: 200px;"
    }